.bird-card {
  display: flex;
  padding: 1rem;
  background-color: #303030;
  border-radius: 0.25rem;
}
.img {
  width: 200px;
  height: 155px;
  border-radius: 10px;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 1px solid #555555;
}
.container {
  flex-grow: 1;
  padding-left: 40px;
}
