.level {
  margin-top: 20px;
  width: 100%;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  justify-content: space-between;
  li {
    flex: auto;
    padding: 10px;
    background-color: #008966;
    border: solid #007c5d 1px;
    text-align: center;
  }
  .active {
    background-color: #00efb2;
  }
}
